.forgotPass--submitBtn {
  color: #06f;
  width: 10vw;
  padding: 0 3%;
  box-shadow: 0 3px 5px 2px rgba(111, 132, 248, 0.3);
}

.forgotPass--form {
  display: flex;
  justify-content: center;
  margin: 2% 16% 2% 13%;
}

.forgotPass--picture-slogan {
  width: 35vw;
  background-color: rgba(0, 102, 255, 0.5);
}

.forgotPass--registration-form {
  padding: 3%;
  background-color: #edf0f1;
}

.forgotPass--fields {
  width: 40%;
  background-color: #edf0f1;
  padding: 5px 5px;
  margin: 5px 0 5px 15px;
  display: inline-block;
  border-bottom: 2px solid #06f;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  box-sizing: border-box;
}

.forgotPass--label {
  font-weight: bolder;
  padding: 10px 0 0 0;
  width: 35%;
  margin-bottom: 0;
  font-size: 125%;
  text-align: right;
}

.forgotPass--inputFields {
  align-items: center;
}

.forgotPass--alignBtn {
  margin: 5% 0 3% 0;
  text-align: center;
}

.forgotPass--btn-text {
  font-size: 2vh;
  font-weight: bolder;
  color: #06f;
}

.forgotPass--logo {
  width: 40%;
}

.forgotPass--logo-align {
  margin: 1% 5% 1% 5%;
  text-align: center;
}

.forgotPass--end-quote {
  text-align: center;
  margin: 5% 0 0 0;
  font-weight: bolder;
  letter-spacing: 4px;
  font-size: 120%;
  font-weight: bolder;
  color: #06f;
}

.forgotPass--align-label-and-field {
  display: flex;
  margin: 4% 0;
}

.forgotPass--label-radio {
  font-weight: bolder;
  padding: 10px 0 0 10%;
  width: 100%;
  margin-bottom: 0;
  font-size: 125%;
  text-align: left;
}

.forgotPass--bookstore-logo {
  width: 75%;
  margin-bottom: 12vh;
}

.forgotPass--slogan {
  padding: 15% 15% 1vw 10%;
  font-size: 4vw;
  text-align: left;
  font-weight: bolder;
  line-height: 120%;
}

.forgotPass--catchy-word {
  color: white;
}

.forgotPass--background {
  background-image: url("/pics/greek-vase.png");
  padding: 0.05vh 0 0.05vh 0;
}

.forgotPass--forgotPass-form {
  margin: 20% 0 20% 0;
}
