.adminHome--page-title {
  color: #06f;
  font-size: 2.5vh;
  font-weight: bolder;
}

.adminHome--submitBtn {
  color: #06f;
  width: 20%;
  padding: 0 3%;
  box-shadow: 0 3px 5px 2px rgba(111, 132, 248, 0.3);
}

.adminHome--btn-text {
  font-size: 2vh;
  font-weight: bolder;
  color: #06f;
}

.adminHome--page-indent {
  margin: 3vh 0 0 4vw;
  display: flex;
}

.adminHome--main-screen {
  width: 70vw;
  overflow: visible;
}

.adminHome--sub-screen {
  margin: 6vh 0 0 4vw;
  flex: 1;
}

.adminHome--btns {
  margin-bottom: 3vh;
}

.adminHome--table-title {
  margin: 3vh 0 2vh 0;
}

.adminHome--table {
  overflow: auto;
  max-height: 62vh;
}

.adminHome--search-book-dialog-title {
  font-size: 1.5vw;
  font-weight: bolder;
  color: #0066ff;
}

.adminHome--inputFields {
  align-items: center;
}

.adminHome--dialog-form {
  margin: 1vh 0 5vh 0;
}

.adminHome--align-label-and-field {
  width: 45vw;
  margin: 0 5vw 0 1vw;
  align-items: center;
}

.adminHome--label {
  font-weight: bolder;
  padding: 10px 0 0 0;
}

.adminHome--fields {
  width: inherit;
  display: inline-block;
  border-bottom: 2px solid #06f;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  box-sizing: border-box;
}

.adminHome--fields-textarea {
  height: 10vh;
  outline: none;
  width: inherit;
}

.adminHome--alignBtn {
  text-align: end;
  margin: 0 2vw 3vh 0;
}

.adminHome--submitBtn {
  color: #06f;
  padding: 0 3%;
  box-shadow: 0 3px 5px 2px rgba(111, 132, 248, 0.3);
}

.adminHome--btn-text {
  font-size: 125%;
  font-weight: bolder;
  color: #06f;
}

.adminHome--highlight {
  font-weight: bolder;
  color: #0066ff;
}
