.PaymentMethod{
    display: flex;
    margin-bottom: 13px;
}
.PaymentMethod h3{
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
}
.PaymentMethodImg{
    padding-left: 24px;
    width: 60px;
}
input{
    margin-top: auto;
    margin-bottom: auto;
}